@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* --- from isobuilder --- */

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

table.main td {
  border: 1px solid #aaa;
  padding: 1rem;
}

table.bmp th
{
  vertical-align: bottom;
  text-align: center;
  font-size: .85em;
}

table.bmp td
{
  border: none;
  padding: 0;
}

table.bmp th span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

#versionfooter {
  float: right;
  margin-right: 1em;
  font-size: 0.75em;
}

.footer {
  font-size: 0.9em;
}